<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{.PageTitle}}</title>
  <meta name="description" content="CDP - History">
  <meta name="author" content="Anvenouz">

  <style>
    body{text-align: center;}
  </style>

</head>

<body>
  <h1>{{.PageTitle}}</h1>
  <h4>
    - Last update -<br>
    <span id="lastDate">{{.LastDate}}</span>
  </h4>

  <h4>
    - Current - <br>
    Price: {{.Equalizer.Current.Price}}
    Net: {{.Equalizer.Current.EthNet}}Ξ
    ({{.Equalizer.Current.DaiNet}}DAI)
    <br>
    Ratio: {{.Equalizer.Current.Ratio}}
    <br>
    -
  </h4>

  <canvas id="chartEth"></canvas>
  <canvas id="chartDai"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>

    var ctx = document.getElementById('chartEth').getContext('2d');
    var lastDate = document.getElementById('lastDate').textContent;
    var convertDate = function(dateToConvert, withHours = false){
        var date = moment(dateToConvert * 1000);
        if(withHours == false) {
          return date;
        }
        return date.format('DD/MM/YYYY HH:mm:ss');
    };

    var arrayDate = [ {{range .History}} convertDate('{{.Date}}'), {{end}} ];
    var arrayEthNet = [ {{range .History}} '{{.CDP.EthNet}}', {{end}} ];
    var arrayPrice = [ {{range .History}} '{{.CDP.Price}}', {{end}} ];
    var arrayDaiDebt = [ {{range .History}} '{{.CDP.DaiDebt}}', {{end}} ];
    var arrayDaiNet = [ {{range .History}} '{{.CDP.DaiNet}}', {{end}} ];
    var arrayEthCol = [ {{range .History}} '{{.CDP.EthCol}}', {{end}} ];

    document.getElementById("lastDate").textContent = convertDate(lastDate, true);
    // var timeFormat = "DD/MM/YYYY HH:mm";
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: arrayDate,
            datasets: [
            {
                label: 'Price',
                backgroundColor: 'rgb(99, 255, 132)',
                // borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data: arrayPrice,
                yAxisID: 'y-axis-1'
            },
                {
                label: 'EthNet',
                backgroundColor: 'rgb(255, 132, 99)',
                // fill: false,
                borderColor: 'rgb(255, 132, 99)',
                data: arrayEthNet,
                yAxisID: 'y-axis-2'
            },
            {
                label: 'DaiNeth',
                backgroundColor: 'rgb(255, 99, 132)',
                // fill: false,
                borderColor: 'rgb(255, 99, 132)',
                data: arrayDaiNet,
                yAxisID: 'y-axis-3'
            }
            ]
        },

        // Configuration options go here
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        // parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm',
                        unit: 'day',
                        displayFormats: {
                            day: 'll'//'DD MMM YYYY'
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date',
                    }
                }],
                yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: true,
                    position: 'left',
                    id: 'y-axis-1',
                }, {
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: true,
                    position: 'right',
                    id: 'y-axis-2',

                    // grid line settings
                    gridLines: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                },
                  {
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: true,
                    position: 'left',
                    id: 'y-axis-3',

                    // grid line settings
                    gridLines: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    }
                  }

                ],
            },

            tooltips: {
              // mode: 'index'
              callbacks: {
                  // label: function(tooltipItem, data) {
                  //     var label = data.datasets[tooltipItem.datasetIndex].label || '';
                  //
                  //     if (label) {
                  //         label += ': ';
                  //     }
                  //     label += tooltipItem.yLabel;
                  //     label += " test";
                  //     return label;
                  // },
                  afterLabel: function(tooltipItem, data){
                      var label = '$ Price: ' + arrayPrice[tooltipItem.index];
                      return label;
                  },
              }
          }
        }
    });

    var ctx = document.getElementById('chartDai').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: arrayDate,
          datasets: [{
              label: 'DaiNet',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              // fill: false,
              data: arrayDaiNet
          },
          {
              label: 'DaiDebt',
              backgroundColor: 'rgb(99, 255, 132)',
              // borderColor: 'rgb(255, 99, 132)',
              fill: false,
              data: arrayDaiDebt
          }]
        },

        // Configuration options go here
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        // parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm',
                        unit: 'day',
                        displayFormats: {
                            day: 'll'//'DD MMM YYYY'
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Eth'
                    }
                }]
            },
        }
    });

    // var ctx = document.getElementById('Up').getContext('2d');
    // var chart = new Chart(ctx, {
    //     // The type of chart we want to create
    //     type: 'line',
    //
    //     // The data for our dataset
    //     data: {
    //       labels: label2,
    //         datasets: [{
    //             label: 'Equalized Eth',
    //             backgroundColor: 'rgb(150, 99, 250)',
    //             borderColor: 'rgb(150, 99, 250)',
    //             fill: false,
    //             data: eqUpEth //hiUpEth
    //         },
    //         {
    //             label: 'History Eth',
    //             backgroundColor: 'rgb(150, 99, 250)',
    //             borderColor: 'rgb(150, 99, 250)',
    //             fill: false,
    //             data: hiUpEth //hiUpEth
    //         }
    //         ]
    //     },
    //
    //     // Configuration options go here
    //     options: {
    //         scales: {
    //             xAxes: [{
    //                 scaleLabel: {
    //                     display: true,
    //                     labelString: 'Price'
    //                 }
    //             }],
    //             yAxes: [{
    //                 scaleLabel: {
    //                     display: true,
    //                     labelString: 'Eth'
    //                 }
    //             }]
    //         },
    //     }
    // });

    //
    //
    // var ctx = document.getElementById('priceEthNet').getContext('2d');
    // var chart = new Chart(ctx, {
    //     // The type of chart we want to create
    //     type: 'line',
    //
    //     // The data for our dataset
    //     data: {
    //       labels: arrayDate,
    //         datasets: [{
    //             label: 'EthNet',
    //             backgroundColor: 'rgb(99, 150, 250)',
    //             borderColor: 'rgb(99, 150, 250)',
    //             // fill: false,
    //             data: arrayEthNet
    //         }]
    //     },
    //
    //     // Configuration options go here
    //     options: {
    //         scales: {
    //             xAxes: [{
    //                 type: 'time',
    //                 time: {
    //                     // parser: timeFormat,
    //                     round: 'day',
    //                     tooltipFormat: 'll HH:mm',
    //                     unit: 'day',
    //                     displayFormats: {
    //                         day: 'll'//'DD MMM YYYY'
    //                     }
    //                 },
    //                 scaleLabel: {
    //                     display: true,
    //                     labelString: 'Date'
    //                 }
    //             }],
    //             yAxes: [{
    //                 scaleLabel: {
    //                     display: true,
    //                     labelString: 'Eth'
    //                 }
    //             }]
    //         },
    //     }
    // });

  </script>

</body>
</html>